.row{
    max-width: $grid-width;
    margin: 0 auto;
    background-color: $color-gray-light;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

 

}



