@mixin heading-text-style ($font-size, $letter-spacing, $animation-name) {
    display: block;
    font-weight: 400;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    animation-duration: 800ms;
    animation-name: $animation-name;
}

// @mixin perform-gutter-horizontal {
   
// }

@mixin background-image-style ($image-source) {
    background-image:linear-gradient(
        to right bottom, 
        rgba($color-primary-light,0.7),
        rgba($color-primary-dark, 0.7)
        ),
        url("#{$image-source}");
    background-size: cover;
    background-position: top;
}

@mixin background-gradient-style {
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear:both
    }
}
